<section class="clients">
    <div class="container1">
        <h2 class="section-h2">Trusted by industry leaders</h2><br><br>
        <div class="move">
            <div class="clients-grid">
                <!-- Logos -->
                <div class="client-logo"><img src="./assets/img/client-logos/99minds.webp" alt="99minds" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/binmile-social-share.jpg" alt="Binmile" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/LambdaTest_logo.jpg" alt="LambdaTest" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/edureka_1362740598.png" alt="Edureka" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/livspace.png" alt="Livspace" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/paai_logo.jpeg" alt="paai"></div>
            </div>
            <div class="clients-grid">
                <div class="client-logo"><img src="./assets/img/client-logos/99minds.webp" alt="99minds" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/binmile-social-share.jpg" alt="Binmile" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/LambdaTest_logo.jpg" alt="LambdaTest" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/edureka_1362740598.png" alt="Edureka" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/livspace.png" alt="Livspace" /></div>
                <div class="client-logo"><img src="./assets/img/client-logos/paai_logo.jpeg" alt="paai"></div>
            </div>
        </div>
    </div>
</section>