 <header class="header">
        <div class="container">
            <nav class="navbar">
                <div class="logo">
                    <a href="index.html">
                        <img src="./assets/img/lacleo_favicon.png" alt="LaCleo Digital Logo" />
                    </a>
                </div>

                <div class="nav-links" id="navLinks">
                    <div class="nav-item">
                        <a href="../service.html" class="nav-link">
                            Services
                        </a>


                        <div class="dropdown-menu">
                            <div class="dropdown-column">
                                <div class="dropdown-title">Core Services</div>
                                <a href="../service.html" class="dropdown-item">
                                    <i class="fas fa-bullseye"></i>
                                    <span>B2B Lead Generation</span>
                                </a>
                                <a href="../bant.html" class="dropdown-item">
                                    <i class="fas fa-filter"></i>
                                    <span>BANT Qualification</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-headset"></i>
                                    <span>SDR as a Service</span>
                                </a>

                                <a href="../appointment.html" class="dropdown-item">
                                    <i class="fas fa-calendar-check"></i>
                                    <span>Appointment Setting</span>
                                </a>
                                <a href="../account-based-marketting.html"dropdown-item">
                                    <i class="fas fa-briefcase"></i>
                                    
                                    <span>Account-based Marketing</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-database"> </i>
                                    <span>Data Research & Enrichment</span>
                                </a>

                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-list-alt"> </i>
                                    <span>Pre-Packed Lists</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span>E-commerce Consultancy</span>
                                    </a>

                                     <a href="#" class="dropdown-item">
                                    <i class="fas fa-robot"></i>
                                    <span>Virtual Assistance</span>
                                    </a>

                            </div>
                            <div class="dropdown-column">
                                <div class="dropdown-title">Digital Marketing</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-envelope"></i>
                                    <span>Email Campaigns</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fab fa-linkedin"></i>
                                    <span>LinkedIn Campaigns</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-hashtag"></i>
                                    <span>Social Media Marketing</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-search"></i>
                                    <span>SEO</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-ad"></i>
                                    <span>SEM</span>
                                </a>
                            </div>

                            <div class="dropdown-column">
                                <div class="dropdown-title">Global Reach</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-globe-asia"></i>
                                    <span>APAC</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-globe-americas"></i>
                                    <span>NAMER</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-globe-europe"></i>
                                    <span>EMEA</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-globe-asia"></i>
                                    <span>SKEA</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-globe-asia"></i>
                                    <span>Australia</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">
                            Solutions
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-column">
                                <div class="dropdown-title">By Business Stage</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-building"></i>
                                    <span>Enterprise</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-store"></i>
                                    <span>SMBs</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-rocket"></i>
                                    <span>Startups</span>
                                </a>
                            </div>
                            <div class="dropdown-column">
                                <div class="dropdown-title">By Industry</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-laptop-code"></i>
                                    <span>Information Technology</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-code"></i>
                                    <span>Software/SaaS</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-coins"></i>
                                    <span>Financial Services</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-database"></i>
                                    <span>Data Centers</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link">
                            Clients
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-column">
                                <div class="dropdown-title">Success Stories</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-chart-line"></i>
                                    <span>Case Studies</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-star"></i>
                                    <span>Testimonials</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-award"></i>
                                    <span>Reviews</span>
                                </a>


                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-handshake"></i>
                                    <span>Channel Program</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-user-plus"></i>
                                    <span>Client Login</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">
                            About Us
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-column">
                                <div class="dropdown-title">Our Company</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-history"></i>
                                    <span>Company Story</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-bullseye"></i>
                                    <span>Mission & Vision</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-users"></i>
                                    <span>Meet the Team</span>
                                </a>
                            </div>

                            <div class="dropdown-column">
                                <div class="dropdown-title">Resource</div>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-pen-nib "></i>
                                    <span>Blogs</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-book-reader"></i>
                                    <span>EBooks</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-newspaper"></i>
                                    <span>News & Updates</span>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fas fa-shield-alt"></i>
                                    <span>GDPR Compliance</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-question-circle"></i>
                            FAQs
                        </a>
                    </div>
                </div>

                <div class="nav-actions">
                    <a href="tel:+1234567890" class="nav-action">
                        <i class="fas fa-phone"></i>
                        Call Us
                    </a><div>
                     
                      <a href="#contact-form-placeholder" class="button"><i class="fas fa-paper-plane"></i> Contact</a>                      
                </div>
                </div>



                <div class="mobile-toggle" id="mobileToggle">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>